@font-face {
    font-family: "Open Sauce";
    font-weight: bold;
    src: url("../../assets/fonts/open-sauce-sans/OpenSauceSans-Bold.ttf");
}

@font-face {
    font-family: "Antonio";
    font-weight: bold;
    src: url("src/assets/fonts/antonio/Antonio-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Telegraf";
    font-weight: normal;
    src: url("src/assets/fonts/telegraf/TelegrafRegular.otf");
}