@import "src/css/config/_breakpoint.scss";

.menu-box-content {
    display: flex;
    gap: 2.5rem;
    min-height: 80%;
    margin: auto;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 max(20px, 10vw);
    > :nth-child(n) {
        flex: 1 1 200px;
    }
    flex-wrap: wrap;
}