@import "src/css/config/_breakpoint.scss";

.button-container {
    background-color: #c6a7ed;
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: clamp(1.25rem, 5vw, 1.75rem);
}

.button-text {
    /* Antonio font have 3px top space so need to adjust it */
    padding: calc(0.85em - 3px) 3em 0.85em;
    font-family: "Antonio", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    white-space: normal;
    letter-spacing: 1px;

    //@include breakpoint(small) {
    //    padding: calc(1.5rem - 3px) 3rem 1.5rem;
    //    font-size: 2.5rem;
    //}
}