@import "src/css/config/_breakpoint.scss";

.screen-five {
    display: grid;
    grid-template-areas:
            'title content'
            'title content'
            'illustration illustration';

    .title {
        grid-area: title;
        margin: auto;
        width: 50%;
        font-size: 5rem;
    }

    .content {
        grid-area: content;
        margin: auto;
        font-size: 1.25rem;
        font-family: "Telegraf", sans-serif;

        .content-button {
            margin-top: 3rem;
        }
    }

    .illustration {
        grid-area: illustration;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@include breakpoint(small) {
    .screen-five {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'title'
            'content'
            'illustration';

        .title {
            width: 80%;
            margin-left: 5rem;
            margin-bottom: 3rem;
            font-size: 6rem;
        }

        .content {
            margin-left: 5rem;
            margin-bottom: 3rem;
            font-size: 2rem;
        }

        .illustration {

            img {
                object-fit: contain;
            }
        }
    }
}


@include breakpoint(medium) {
    .screen-five {
        .title {
            font-size: 5rem;
        }

        .content {
            font-size: 1.65rem;
        }
    }
}

@include breakpoint(large) {
    .screen-five {
        .title {
            font-size: 5rem;
        }

        .content {
            font-size: 1.65rem;
        }
    }
}