@import "css/config/_common.scss";
@import "css/config/_fonts.scss";
@import "css/config/_animation.scss";
@import "css/config/_breakpoint.scss";

html {
    @include breakpoint(medium) {
        max-width: 100dvw;
    }
}

body {
    background-color: #191919;
    color: white;
    margin: 0;
    padding: 0;
}
